@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.appeared {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-content {
  animation: fadeInSlideUp 0.8s ease-out;
}

@keyframes staggerFade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-item {
  opacity: 0;
  animation: staggerFade 1s ease-in-out forwards;
}

.slide-top {
  opacity: 0;
  -webkit-animation: slide-top 0.5s forwards;
  animation: slide-top 0.5s forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-top {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* 2. Slide In from Left */
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-left {
  opacity: 0;
  animation: slide-left 0.7s ease-out forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

/* 3. Slide In from Right */
@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-right {
  opacity: 0;
  animation: slide-right 0.7s ease-out forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.zoom-in {
  opacity: 0;
  animation: zoom-in 0.7s ease-out forwards;
  animation-timeline: view();
  animation-range: entry 20% cover 50%;
}

@keyframes blur-in {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
.blur-in {
  opacity: 0;
  animation: blur-in 0.8s ease-out forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
