.scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    background-color: rgba(30, 64, 175, 0.9);
    color: white;
    border-radius: 50%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .scrollToTop:hover {
    background-color: rgba(29, 78, 216, 1);
    transform: scale(1.1);
  }
  
  .scrollIcon {
    color: white;
  }
  
  @media (max-width: 600px) {
    .scrollToTop {
      bottom: 25px;
      right: 22px;
      padding: 14px;
    }
    .scrollIcon {
        color: white;
        font-size: 14px;
      }
  }
  